.buttons {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.46);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  left: 0;
  top: 55%;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
  outline: none;
  transition: all 0.2s ease;
}

li.card {
  transition: all 100ms ease-in-out;
  border-radius: 2px;
  position: absolute;
  list-style: none;
  left: 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background-size: cover;
}

.card.active {
}
